<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Colorectal Cancer Detection</title>
</head>

<body>
    <div class="header">
        <h1>Colorectal Cancer Detection</h1>
    </div>
    <hr>
    <div class="container">
        <div class="about-cc">
            <p>Colorectal cancer is a disease where cancerous tumors develop in the colon or rectum, which are parts of
                the large intestine. Currently, diagnoses of this cancer is rapidly increasing making
                it the thrid most common type of cancer in the United States. Efficient detection of different
                characteristics of the cancer takes far too long which only exacerbates the problem even further. That
                is why we've developed this machine learning model to identify tissues into different groups. Automating
                this process with the help of AI is the only way to save the lives of thousands of innocent people.</p>
            <hr>
            <img class="research-img" src="/static/research.jpg" alt="research image">
        </div>
        <div class="input-div">
            <label for="file-upload">
                <img id="input-image" src="/static/upload-icon.jpg" alt="Click to upload" style="cursor: pointer;" />
            </label>
            <input type="file" id="file-upload" accept=".png, .jpg, .jpeg" style="display: none;">
            <button id="submit-button">Detect</button>
            <div id="result" class="result">
                <p id="result"></p>
            </div>
        </div>
    </div>

    <footer>
        <p>© 2025 Colorectal Cancer Detection. All rights reserved.</p>
    </footer>

    <script>
        document.getElementById('file-upload').addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('input-image').src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        });

        document.getElementById('submit-button').addEventListener('click', function () {
            console.log("coming soon");
            fetch('/predict', {
                method: 'POST',
                body: new FormData("image", document.getElementById('file-upload').file),
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result').innerText = data.message;
                console.log(data);
            })
        });

    </script>
</body>

</html>